@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-main: var(--font-inter);
    --font-heading: var(--font-playfair);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

:root {
    --radius: 0.625rem;
    --background: hsl(10, 10%, 95%);
    --foreground: hsl(10, 10%, 5%);
    --card: hsl(10, 10%, 90%);
    --card-foreground: hsl(10, 10%, 5%);
    --popover: hsl(10, 10%, 95%);
    --popover-foreground: hsl(10, 10%, 5%);
    --primary: hsl(10, 60%, 35%);
    --primary-foreground: hsl(10, 10%, 95%);
    --secondary: hsl(190, 60%, 35%);
    --secondary-foreground: hsl(10, 10%, 95%);
    --muted: hsl(10, 10%, 85%);
    --muted-foreground: hsl(10, 10%, 25%);
    --accent: hsl(10, 10%, 90%);
    --accent-foreground: hsl(10, 10%, 15%);
    --destructive: oklch(0.577 0.245 27.325);
    --border: hsl(10, 10%, 85%);
    --input: hsl(10, 10%, 85%);
    --ring: hsl(10, 10%, 90%);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: hsl(10, 10%, 90%);
    --sidebar-foreground: hsl(10, 10%, 5%);
    --sidebar-primary: hsl(10, 60%, 35%);
    --sidebar-primary-foreground: hsl(10, 10%, 90%);
    --sidebar-accent: hsl(10, 10%, 85%);
    --sidebar-accent-foreground: hsl(10, 10%, 5%);
    --sidebar-border: hsl(10, 10%, 75%);
    --sidebar-ring: hsl(10, 10%, 75%);
    font-size: clamp(12px, 0.4vw + 0.9rem, 16px);
}

.dark {
    --background: hsl(10, 10%, 5%);
    --foreground: hsl(10, 10%, 95%);
    --card: hsl(10, 10%, 10%);
    --card-foreground: hsl(10, 10%, 95%);
    --popover: hsl(10, 10%, 5%);
    --popover-foreground: hsl(10, 10%, 95%);
    --primary: hsl(10, 60%, 35%);
    --primary-foreground: hsl(10, 10%, 95%);
    --secondary: hsl(190, 60%, 35%);
    --secondary-foreground: hsl(10, 10%, 95%);
    --muted: hsl(10, 10%, 15%);
    --muted-foreground: hsl(10, 10%, 75%);
    --accent: hsl(10, 10%, 10%);
    --accent-foreground: hsl(10, 10%, 85%);
    --destructive: oklch(0.577 0.245 27.325);
    --border: hsl(10, 10%, 15%);
    --input: hsl(10, 10%, 15%);
    --ring: hsl(10, 10%, 10%);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: hsl(10, 10%, 10%);
    --sidebar-foreground: hsl(10, 10%, 95%);
    --sidebar-primary: hsl(10, 60%, 35%);
    --sidebar-primary-foreground: hsl(10, 10%, 90%);
    --sidebar-accent: hsl(10, 10%, 15%);
    --sidebar-accent-foreground: hsl(10, 10%, 95%);
    --sidebar-border: hsl(10, 10%, 25%);
    --sidebar-ring: hsl(10, 10%, 10%);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
    h1 {
        @apply text-4xl font-bold;
    }
    h2 {
        @apply text-2xl font-bold;
    }
    h3 {
        @apply text-xl font-semibold;
    }
    h4 {
        @apply text-lg font-semibold;
    }
    p {
        @apply text-base font-normal text-accent-foreground;
    }
}

@layer components {
    .page {
        @apply flex h-fit w-full flex-col items-center justify-center overflow-hidden md:pt-4;
    }
    .p-deemphasize {
        @apply text-muted-foreground text-sm font-normal;
    }
    .link-primary {
        @apply text-primary hover:text-primary/90 font-medium;
    }
    .btn-primary {
        @apply min-h-8 min-w-16 hover:scale-105 transition-transform duration-300;
    }
    .section {
        @apply max-w-400 px-8 py-12 md:px-12 md:py-16;
    }
    .hover-transform {
        @apply transition-transform duration-300 hover:shadow-2xl motion-safe:hover:scale-105;
    }
	.link-btn {
		@apply bg-primary text-primary-foreground hover:bg-primary/90
	}
}
